/* Media query - mobile-first
420px é o padrão  */

body {
  font-family: 'Nunito', 'Varela Round', sans-serif;
  font-size: 10px;
  margin: 0;
  background-color: #F8F9FA;
}

a {
  text-decoration: none;
  text-transform: uppercase;
}

ul {
  list-style: none;
}

.menu__nav {
  display: none;
}

header {
  background-color: #9abed3;
}

h3 {
  color: #F8F9FA;
  font-size: 1.8em;
  margin-bottom: 10px;
}

h2 {
  color: #F8F9FA;
  font-weight: bold;
  font-size: 2.4em;
  max-width: 70%;
  margin: 0 auto 10px auto;
}

p {
  font-size: 1.4em;
  line-height: 1.8em;
}

.menu__mobile {
  color: #A4BAC7;
  border: 1px solid #fff;
  padding: 8px 10px;
  border-radius: 4px;
  margin: 5px 10px;
  font-size: 1rem;
  max-width: 36px;
}

.wrapper {
  background-image: linear-gradient(black, black), url(../img/foto-banner.jpg);
  background-size: cover;
  background-blend-mode: saturation;
  width: 100%;
  height: 93vh;
  /* Medida relativa ao tamanho da tela*/
  justify-content: center;
  display: flex;
  /* Faz com que o justify-content: center funcione no filho*/
}

.container-01 {
  max-width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  /* justify-content: center;      não havia funcionado antes pq o pai não era display flex*/
  justify-content: center;
  text-align: center;
  align-content: center;
}

.titulo {
  background: -webkit-linear-gradient(#fff, #494848);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  line-height: 2.5rem;
  font-size: 2.4rem;
  letter-spacing: 1rem;
  text-align: center;
}

.subtitulo {
  text-align: center;
  color: #ffffffb3;
  /* width: 80%; */
  font-weight: bold;
  padding: 0 50px 20px 30px;
  word-wrap: break-word;
}

.btn-mais {
  padding: 15px 20px;
  background-color: rgb(146, 146, 146);
  color: #fff;
  border-radius: 4px;
  flex-grow: 0;
}

.agencia {
  background: linear-gradient(to bottom, #161616 0, rgba(22, 22, 22, .9) 75%, rgba(22, 22, 22, .8) 100%);
  color: #F8F9FA;
  padding: 20px 0;
}

.agencia-container {
  display: flex;
  flex-direction: column;
  width: 90%;
  text-align: center;
  margin: 0 auto;
  padding: 30px 0;
}

.lugares {
  display: flex;
  flex-direction: column;
  max-width: 93%;
  width: 100%;
  margin: 40px auto;
  text-align: center;
  background-color: #000;
  color: #fff;
  padding-bottom: 50px;
}

.lugares__texto {
  max-width: 70%;
  margin: 0 auto;
}

.lugares-siberia {
  background-color: #F8F9FA;
  margin-bottom: 0px;
}

.lugares-groelandia {
  margin-top: 0px;
}

.lugares img {
  width: 100%;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  filter: gray;
  /* IE */
}

.lugares__texto {
  margin-top: 40px;
  margin-bottom: 5px;
  color: #F8F9FA;
}

.lugares__texto-siberia {
  color: #000;
}

.lugares__texto-siberia h3 {
  color: #000;
}

.info {
  background-image: linear-gradient(black, black), url(../img/foto-footer.jpg);
  background-size: cover;
  background-blend-mode: saturation;
  width: 100%;
  padding: 20px 0px;
}

.info__local {
  max-width: 80%;
  margin: 0 auto;
  text-align: center;
  padding: 40px 0;
}

.centralizar {
  text-align: center;
  margin: 40px auto 20px auto;
}

.form__dados {
  max-width: 90%;
  margin: 0 auto;
}

.form h3 {
  display: block;
  /*se não colocar display block não centraliza*/
  text-align: center;
}

.form h5 {
  color: #fff;
  font-size: 1.2em;
  margin: 10px 0px;
}

.form p {
  color: rgb(179, 177, 177);
}

.linha {
  content: "";
  border-bottom: 1px solid;
  color: #fff;
}

.btn {
  background-color: #A4BAC7;
  color: #fff;
  padding: 10px 15px;
  border-radius: 4px;
  justify-content: center;
}

.footer {
  background-color: #161616;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: 60px;
}

.footer a {
  color: rgb(152, 185, 221);
  padding: 40px 0 40px 0;
  font-size: 1.2em;
  font-weight: bold;
}

.footer__redes {
  display: flex;
  justify-content: space-around;
  padding: 20px 0;
  max-width: 80%;
}

.footer__redes img {
  margin: 0px 15px;
}

footer p {
  color: #8e8a8a;
  font-size: 0.8rem;
  font-weight: bold;
  margin: 30px 0 0px 0;
}

@media (min-width: 768px) {
  .agencia-container {
    width: 50%;
  }
  .lugares {
    flex-direction: row;
    max-width: 80%;
    margin: 0px auto;
    padding-bottom: 0;
  }
  .lugares img {
    width: 50%;
  }
  .lugares__texto {
    text-align: start;
    padding: 0px 30px;
  }
  .antartida {
    order: -1;
  }
}

@media (min-width: 968px) {}

@media (min-width: 1024px) {}

@media (min-width: 1200px) {}